*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}

/*General*/
body{
    height: 2500px;
    font-family: 'PT Sans', sans-serif;
}

:root{
    --mainColor:#7b5244;
    --subColor:#333;
}

.container{
    width: 80%;
    margin: auto;
}

.list-unstyled{
    list-style: none;
}

a{
    text-decoration: none;
}

.section-padding{
    padding: 40px 0;
}
.section-header{
    text-align: center;
    margin-bottom: 25px;
}
.section-title{
    font-size:30px;
    margin-bottom: 10px;
    /* margin-top: 20px; */
}
.section-header .line{
    display: block;
    width: 100px;
    height: 2px;
    background: var(--mainColor);
    margin: auto;
    transition: width 0.5s;
}

.section-header:hover .line{
    width: 150px;
}

/*Header*/
header{
    padding: 30px 0;
}

.header-content img{
    flex: 1;
    max-width: 170px
}
.header-content nav{
    flex: 3;    
    text-align: center;
}

.header-content .login{
    flex: 1;    
    text-align: right;
}

header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content ul li{
    display: inline-block;
}

.header-content ul li,
.header-content ul li a
{
    color:var(--subColor);
}

/*.header-content nav ul{
    display: flex;
    justify-content: space-between;
}*/

.header-content nav ul li .link-item{
    padding:  15px;
    display: block;  
    font-weight: bold;  
    position: relative;
}

.header-content nav ul li .link-item:before,
.header-content nav ul li .link-item:after{
    content:"";
    position: absolute;
    border-color: var(--mainColor);
    border-style: solid;
    top:0;
    left: 0;
    transition: transform 0.2s;
}

.header-content nav ul li .link-item:before{
    border-width: 0 2px;
    width: 98%;
    height: 100%;
    transform: scale3d(1,0,1);
}

.header-content nav ul li .link-item:hover:before{
    transform: scale3d(1,1,1);
}

.header-content nav ul li .link-item:after{   
    border-width:2px 0;
    width:100%;
    height: 91%;
    transform: scale3d(0,1,1);
    transform-origin: left;
}

.header-content nav ul li .link-item:hover:after{
    transform: scale3d(1,1,1);
    transition-delay: 0.2s;
}

.header-content .login ul li{
    padding:  10px;
    /* display: block;   */
    font-weight: bold;  
}

.header-content .login ul li:last-child i{
    position: relative;
    margin-right: 10px;
}

.header-content .login ul li:last-child i:after{
    position: absolute;
    content: "0";
    background: var(--mainColor);
    color: white;
    bottom: 0px;
    right: -11px;
    padding: 4px;
    border-radius: 50%;
    font-size: 13px;
}

/*Slider*/

/*.slider-content{
    position: relative;
}*/

section.slider img{
    width:100%;
}

.slider .slider-bollets{
    text-align: center;
}

.slider-bollets li{
    /* position: absolute; */
    display: inline-block;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    top:10px;
    left:10px;
    z-index: 10;
    /* transform: translate3d(0,0,0);     */
    transform: scale(0);
    opacity: 0;
}

.slider-bollets .slider-active{
    background-color: var(--mainColor);
}

.slider-content:hover .slider-bollets li{
    transform: scale(1);
    opacity: 1;
}

/*Dropdown*/
.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    width: 400px;
    padding: 15px;
    margin-top: 5px;
    border: 2px solid var(--mainColor);
    background:white;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.5s , visibility 0.5s;
}

.dropdown:hover .dropdown-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.dropdown-menu ul{
    display: table-cell;
    text-align: left;
}

.dropdown-menu ul li:first-child a{
    display: block;
    border-bottom: 1px dotted var(--mainColor);
    margin-bottom: 10px;
}

.dropdown-menu ul li{
    line-height: 1.7;
}

.dropdown-menu-chairs{
    position: absolute; 
    width: 200px;
    padding: 15px;
    margin-top: 5px;
    border: 2px solid var(--mainColor);
    background:white;   
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition:transform 0.5s , visibility 0.5s; 
}
.dropdown:hover .dropdown-menu-chairs{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.dropdown-menu-chairs ul{
    display: table-cell;
    text-align: left;
}

.dropdown-menu-chairs ul li{
    display: block;
    line-height: 1.7;
}

.dropdown-menu-more{
    position: absolute;
    width: 200px;
    padding: 15px;
    margin-top: 5px;
    background: white;
    border: 2px solid var(--mainColor);
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.5s, visibility 0.5s;
}
 
.dropdown:hover .dropdown-menu-more{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.dropdown-menu-more ul{
    display: table-cell;
    text-align: left;
}

.dropdown-menu-more ul li{
    display: block;
    line-height: 1.7;
}

/*Category*/
.category-item{
    position: relative;
}
.category-items{
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.category-items img{
    width: 100%;
    margin-bottom: 25px;
}

.category-item-subtitle{
    color:gray;
    font-weight: normal;
}

.category-item .icon{
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    background: var(--mainColor);
    display: block;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.category-item:hover .icon{
    visibility: visible;
    opacity: 1;
} 

.category-content{
    margin-top: 25px;

}

.category-bollets{
    text-align: center;
}

.category-bollets li{
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    display: inline-block;
}

.category-bollets .category-active{
    background: var(--mainColor);
}

.category-content:hover .category-bollets{
    /* transform: scale3d(1,1,0); */

}

/*Discouunt*/
.discouunt{
    margin: 30px 0;
    display: flex;
    /* grid-template-columns: auto auto auto auto; */
}

.discouunt-desc{
    /* grid-column: 1/3; */
    flex:2;
    background: #f7f3ef;
    padding: 20px;
    position: relative;
}

.discouunt-desc .top{
    position: relative;
    padding-left: 60px;
    margin-bottom: 20px;
}

.discouunt-desc .top .icon{
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 50px;
    color: var(--mainColor);

}

.discouunt-desc .top + p{
    line-height: 1.7;
    color: gray;
}

.discouunt-desc .bollets{
    text-align: right;
    position: absolute;
    bottom: 40px;
    right:40px;
}

.discouunt-desc .bollets span{
    display: inline-block;
    width: 50px;
    height: 2px;
    background: var(--mainColor);
    margin-left: 10px;
}

.discouunt-subtitle{
    color:gray;
}

.discouunt-item{
    flex:1;
    height: 300px;
    position: relative;
}

.discouunt-item-info {
    position: absolute;
    top: 20px;
    left: 15px;
}

.discouunt-item-info h3{
    font-weight: normal;
    color: var(--mainColor);
}

.discouunt-item-info h2{
    font-size: 20px;
}

.discouunt-item:nth-child(2),
.discouunt-item:nth-child(3){
    background-size: cover;
    transition: transform 0.2s;
}
.discouunt-item:nth-child(2){
    background-image: url(../images/cms-banner-1.jpg);
    margin: 0 20px;
}

.discouunt-item:nth-child(3){
    background-image: url(../images/cms-banner-2.jpg);
    /* margin: 0 20px;    */
}

.discouunt-item:nth-child(2):hover,
.discouunt-item:nth-child(3):hover{
    transform: scale(1.1);
}

/*Sprites*/
.sprites{
    display: flex;
    margin-bottom: 55px;
}

.sprite-item{
    flex:1;
    text-align: center;
    border-right: 1px solid var(--mainColor);
}

.sprite-item:last-child{
    border: 0;
}

.sprite-icon{
    background-image: url(../images/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}

.sprite-icon-1{
    background-position: center 5px;
    transition: 0.5s;
}

.sprite-item:hover .sprite-icon-1{
    background-position: center -86px;
}

.sprite-icon-2{
    background-position: center -180px;
    transition: 0.5s;
}

.sprite-item:hover .sprite-icon-2{
    background-position: center -269px;
}

.sprite-icon-3{
    background-position: center -550px;
    transition: 0.5s;
}

.sprite-item:hover .sprite-icon-3{
    background-position: center -639px;
}

.sprite-icon-4{
    background-position: center -366px;
    transition: 0.5s;
}

.sprite-item:hover .sprite-icon-4{
    background-position: center -455px;
}

.sprite-icon-5{
    background-position: center -734px;
    transition: 0.5s;
}

.sprite-item:hover .sprite-icon-5{
    background-position: center -826px;
}



.sprite-info h3{
    font-size: 17px;
}

.sprite-info span{
    color: gray;
    font-size: 15px;
}

.sprites hr{
    color: gray;
}

/*Products Section*/
.products{
    /* text-align: center; */
}
.products-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 30px 0;
}

.list-products{
    display: flex;
    justify-content: center;
}

.list-products li{
    margin: 10px 20px;
    color: gray;
    font-size: 17px;
    /* font-weight: bold; */
}

.list-products:hover .list-products li{
    color: var(--mainColor);
}

.product-img{
    position: relative
}

.product-overly{
    position: absolute;
    top:0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.2s;
    opacity: 0.9;
}

.product-overly ul{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.product-overly ul li{
    width: 40px;
    height: 40px;
    /* background: var(--mainColor); */
    background: black;
    display: inline-block;
    text-align: center;
}

.product-overly ul li i{
    color: white;
    line-height: 40px;
}

.product-item:hover .product-overly{
    transform: scaleX(1);
}

.product-item i.active{
    color: #EFB005;
}
.product-item i.gray-active{
    color: gray;
}
.product-info span{
    display: block;
    margin: 5px 0;
}
.product-info i{
    margin-top: 10px;
}
/*products-info-banner*/

.products-info-banner{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(4,1fr); */
}
.product-image img{
    width: 100%;
    flex: 2;
}
 
.products-desc{
    flex:2;
    background: #f7f3ef;
    margin-left: 20px;
    width: 50px;
    /* position: relative; */
}

.product-top h3{
    /* position: absolute; */
    padding-left: 120px;
    padding-top: 30px;
    font-size: 20px;
}

.product-top h2{
    padding-left: 20px;
    color: var(--mainColor);
    font-weight: bold;
    font-size: 50px;
}
.product-top span{
    padding-bottom: 0;
    padding-left: 20px;
    color: var(--mainColor);
    /* margin-bottom: 10px;     */
}

.products-desc p{
    color: gray;
    margin-top: 10px;
    line-height: 1.5;
    margin-left: 10px;
}

.product-bollets{
    text-align: right;
    bottom: 40px;
    right: 40px;
}

.products-desc .product-bollets span{
    width: 50px;
    height: 2px;
    background: var(--mainColor);
    margin-left: 10px;
    display: inline-block;
    margin-top: 50px;
    margin-right: 10px;
}

/*Images Slider Section*/
.images-sliders{
    display: flex;
}
.images-sliders img{
    margin: 10px 20px;
    flex: 1;
}


/*more-information Section*/
.more-information-footer {
    background: black;
    width: auto;
    height: 550px;
}

.information-content-footer{
    display: flex;
    margin: 10px;
}
.rocker-item{
    flex:1;
    margin-left: 50px;
    margin-top: 50px;   
}
.rocker-item p{
    color: gray;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 5px;
}
.rocker-item img{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.infoo-footer{
    flex:1;
    margin: 30px;
}
.infoo-footer h2{
    color: white;
    font-size:20px;
    margin-top: 50px;
    margin-left: 20px;
}
.infoo-footer span{
    color: gray;
    display: block;
    margin: 10px;
    margin-left: 20px;
    line-height: 1.5;
    margin-top: 15px;
}

.Account-info-footer{
    flex:1;
    margin: 30px;
    /* margin-right: 20px; */
}

.Account-info-footer h2{
    color:white;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
}
.Account-info-footer span{
    color:gray;
    display: block;
    margin: 10px;
    line-height: 1.5;
    margin-top: 15px;
    margin-left: 20px;
}

.subscribe-footer{
    flex: 1;
    margin: 30px;
}
.subscribe-footer h2{
    color: white;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.subscribe-footer span{
    color: gray;
    margin-top: 50px;
    margin-bottom: 50px;
    /* text-decoration: underline; */
}
.subscribe-footer input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: black;
    width: 250px;
}
.subscribe-icon {
    color: white;
    margin-left: 45px
}
.subscribe-list{
    color:gray;
    /* display: inline-block; */
}
.subscribe-list li{
    display: inline-block;
}
.subscribe-list li i{
    margin: 40px 10px;
}

.concolusion-footer{
    margin-top: 50px;
    /* text-align: center; */
    margin-left: 100px;
}
.concolusion-footer hr{
    background: gray;
    /* margin: auto; */
    width: 1100px;
    height: 2px;
    border-width: 1px;
}
.concolusion{
    color: gray;
    margin-top: 20px;
}

/*.subscribe-footer .subscribe-footer-active{
    bottom: 40px;
    right: 40px;
    text-align: center;
    width: 50px;
    height: 2px;
    background: gray;
    margin-left: 10px;
}*/
